.container {
    margin-left: 19.0625rem;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 19.0625rem);
    position: fixed;
}

.box {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2rem;
    position: relative;
    margin: 4rem auto 0 auto; 
    contain: strict;
}

.settings {
    margin-top: 7rem;
    height: 27vh;
}

.delete {
    height: 15vh;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-5 {
    margin-right: 5px;
}

input {
    width: 16.5rem;
}