.container {
    margin-left: 19.0625rem;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 19.0625rem);
    position: fixed;
}

.box{
    display: flex;
    flex-direction: column;
    height: 77.5vh;
    width: 80%;
    padding: 2rem;
    position: relative;
    margin: 4rem auto 0 auto; 
    margin-top: 7rem;
    bottom: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

form {
    margin: 0 auto;
    width: 70%;
}

.mr-2{
    margin-right: 2rem;
}

.mt {
    margin-top: 0.5rem;
}

.ml-6{
    margin-left: 6rem;
}

input {
    width: 15rem;
}

.buttons {
    position: fixed;
    right: 10%;
    bottom: 8%;
}