.account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.credit {
    background-color: #FFE3E3;
}

.debit {
    background-color: #E3E296;
}

.debit,
.credit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    border-radius: 30px;
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
    contain: content;
}

.divider{
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 0px;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading .green {
    border-color: #CDCB00;
    padding: 1px 20px;
    gap: 4rem;
    border-radius: 30px;
}

.pages {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.rows {
    width: 15%;
    justify-content: center;
    display: flex;
}

table {
    width: 100%;
    table-layout: fixed;
    contain: content;
}

table tr td {
    width: 15%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

table tr th {
    width: 15%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}
