.container {
    margin-left: 19.0625rem;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 19.0625rem);
}

.Home {
    display: flex;
    flex-direction: column;
}

.balances {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    margin-top: 7rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.balances .span{
    gap: 5rem;
}

.tracker{
    margin: 0;
    margin-left: 4rem;
    margin-right: 4rem;
}

.tracker .span{
    gap: 1rem;
}

.btn {
   width: 11rem;
   margin-left: 4rem;
}

